@import url("./index.css");
@import url("./reusable.css");

/* HERO */
.hero-h1 {
  font-size: 5rem;
}

.hero-p {
  margin: 1.5rem 0 3rem 0;
}

/* HERO */

/* SKILLS */

.skills-item-tag {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0 1.5rem 2rem 0;
}

/* SKILLS */
