*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* MAIN LAYOUT */

.main-layout__child {
  padding: 16px;
}

.main-layout {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(100px, auto) 1fr;
}

@media screen and (max-width: 992px) {
  .main-layout {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto) 1fr;
  }
}

/* MAIN LAYOUT */

/* MAIN HEADER */

/* main header profile */
.main-header__profile--imagecontainer {
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.main-header__profile {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 12px;
  padding: 20px 10px;
}

/* //////////// */

.main-header__links {
  display: grid;
  grid-template-rows: 1fr auto;
}

.main-header__nav--togglebtn {
  display: none;
}

.main-header__nav {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-header {
  height: 100%;
  border-right: 1px solid #f0ebeb;
}

@media screen and (max-width: 992px) {
  .main-header {
    border-bottom: 1px solid #f0ebeb;
  }

  .main-header__nav {
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .main-header__links {
    display: none;
  }

  /* nav toggle button */
  .main-header__nav--togglebtn {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #toggle-icon {
    font-size: 40px;
  }

  /* nav toggle button */

  /* main header profile */

  .main-header__profile {
    padding: 0px 10px;
  }

  /* //////////// */
}

/* MAIN HEADER */

/* RESUABLE CLASSES */

/* nav links */
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-links__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  text-decoration: none;
}

/* RESUABLE CLASSES */
