@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  behavior: smooth;
  --primary-color: #006bff;
  --white-color: #fff;
  --heading-color: #001533;
  --link-color: #006bff;
  --gray-color: hsl(215, 15%, 50%);
  --border-color: #f0ebeb;
  --shade: #000b19;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: var(--heading-color);
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--link-color);
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.2rem;
  }
}

/* MAIN LAYOUT */

.main-layout__child {
  padding: 1.6rem;
}

.main-layout {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(100px, auto) 1fr;
}

@media screen and (max-width: 992px) {
  .main-layout {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto) 1fr;
  }
}

/* MAIN LAYOUT */

/* MAIN HEADER */

.main-header {
  height: 100%;
  border-right: 1px solid var(--border-color);
  /* position: sticky; */
}

.main-header__nav {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* main header profile start */
.main-header__profile--imagecontainer {
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.main-header__profile {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 12px;
  padding: 20px 10px;
}

.main-header__profile--h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.main-header__profile--p {
  font-size: 1.4rem;
}

/* main header profile end */

/* main header links start */
.main-header__links {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.nav-links__link {
  color: var(--shade);
  border-radius: 10px;
}

/* this class is added to the active nav link */
.active-link {
  background-color: var(--gray-color);
  color: var(--white-color);
}

.main-header__links--closediv,
.main-header__links--openbtn,
.main-header__links--closebtn {
  display: none;
}

/* main header links end */

@media screen and (max-width: 992px) {
  .main-header {
    border-bottom: 1px solid var(--border-color);
  }

  .main-header__nav {
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .main-header__links,
  .main-header__links--closediv {
    position: fixed;
    top: 0;
    left: 0;
  }

  .main-header__links {
    padding: 20px;
    min-width: 240px;
    z-index: 9999;
    background-color: var(--heading-color);
    transition: transform 0.3s;
    transform: translateX(-100%);
  }

  .nav-links__link {
    color: var(--white-color);
  }

  .main-header__links--closediv {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  /* These classes are added when the menu button is clicked */
  .show-nav {
    opacity: 1;
    visibility: visible;
    transition: all;
  }

  .show-links {
    transform: translateX(0);
  }
  /* ///////////////////// */

  /* nav toggle button */
  .main-header__links--openbtn,
  .main-header__links--closebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  .main-header__links--closebtn {
    position: absolute;
    top: 2%;
    right: 0;
    width: 40px;
    height: 40px;
    transform: translateX(50%);
    border-radius: 50%;
  }

  .main-header__links--btnicon {
    font-size: 40px;
  }

  /* nav toggle button */

  /* main header profile */

  .main-header__profile {
    padding: 0px 10px;
  }

  /* //////////// */
}

/* MAIN HEADER */

/* MAIN */
.main-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 8px;
}

@media screen and (min-width: 992px) {
  .main {
    height: 100vh;
    overflow-y: auto;
    margin-top: 100px;
  }
}
/* MAIN */
