*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* MAIN LAYOUT */

.main-layout__child {
  padding: 8px 10px;
}

.main-layout {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(100px, auto) 1fr;
}

@media screen and (max-width: 992px) {
  .main-layout {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto) 1fr;
  }
}

/* MAIN LAYOUT */
