/* nav links */
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-links__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  text-decoration: none;
}

.section {
  padding: 4rem 0;
}

.section-header {
  margin-bottom: 2rem;
}

.btn {
  min-width: 14rem;
  border: 1px solid;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin: 1rem 3rem 1rem 0;
  text-align: center;
}

.cta-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: scale(1);
  transition: transform 0.3s;
}

.cta-btn:hover {
  transform: scale(0.98);
}

@media screen and (max-width: 576px) {
  .btn {
    width: 100%;
  }
}

.outline-btn {
  border-color: var(--primary-color);
  color: var(--primary-color);
  transform: scale(1);
  transition: transform 0.3s;
}

.outline-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: scale(0.98);
}

/* HERO */
.hero-h1 {
  font-size: 5rem;
}

.hero-p {
  margin: 1.5rem 0 3rem 0;
}

@media screen and (max-width: 768px) {
  .hero-h1 {
    font-size: 3.6rem;
  }
}

/* HERO */

/* PROJECTS */
.projects-item {
  display: grid;
  grid-template-columns: 44fr 56fr;
  align-items: center;
  gap: 6rem;
  padding: 4rem 0;
  border-top: 1px solid var(--border-color);
}

.project-item__image {
  min-height: 260px;
  overflow: hidden;
  border: 2rem solid var(--shade);
  border-radius: 10px;
}

.project-item__details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px) {
  .projects-item {
    grid-template-columns: 1fr;
  }
}
/* PROJECTS */

.tags {
  font-size: 1.2rem;
}

.tags-item {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--gray-color);
  color: var(--gray-color);
  border-radius: 6px;
  margin-right: 0.6rem;
}

/* COLLABORATE */
.collaborate-item {
  border: 1px solid var(--border-color);
  padding: 3rem;
  border-radius: 10px;
}

.collaborate-item__p {
  margin: 1rem 0 2rem 0;
}
/* COLLABORATE */
